.header {
  position: relative;
  height: 500px;
  align-items: end;
  display: flex;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    padding-bottom: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 58px; // Tamanho da fonte inicial para telas grandes
    z-index: 2; // O título fica sobre as imagens de fundo
    transition: font-size 0.3s ease; // Transição suave para ajustes de tamanho
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: 1024px) {
      font-size: 48px; // Ajuste de tamanho para tablets
    }

    @media (max-width: 768px) {
      font-size: 38px; // Ajuste de tamanho para dispositivos menores
    }

    @media (max-width: 480px) {
      font-size: 28px; // Ajuste de tamanho para celulares
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
    animation: slideBackground 20s infinite; // Tempo total de 20 segundos
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); // Camada de opacidade preta
    z-index: 1; // Colocado acima da imagem de fundo, mas abaixo do título
  }

  @keyframes slideBackground {
    0%,
    10% {
      background-image: url("/images/fundo1.jpg");
    }
    33%,
    43% {
      background-image: url("/images/fundo2.jpg");
    }
    66%,
    76% {
      background-image: url("/images/fundo3.jpg");
    }
    100% {
      background-image: url("/images/fundo1.jpg");
    }
  }
}
