@import "styles/settings/__settings";
@import "styles/components/_container";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.header {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: end;
  color: white;
  text-align: center;
  padding-bottom: 80px;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 58px; // Tamanho da fonte inicial para telas grandes
    position: relative;
    z-index: 2; // O título fica sobre as imagens de fundo
    transition: font-size 0.3s ease; // Transição suave para ajustes de tamanho
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: 1024px) {
      font-size: 48px; // Ajuste de tamanho para tablets
    }

    @media (max-width: 768px) {
      font-size: 38px; // Ajuste de tamanho para dispositivos menores
    }

    @media (max-width: 480px) {
      font-size: 28px; // Ajuste de tamanho para celulares
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
    animation: slideBackground 20s infinite; // Ajustamos o tempo total para 20 segundos
  }

  // Keyframes para alternar entre as 3 imagens
  @keyframes slideBackground {
    0% {
      background-image: url('/images/fundo1.jpg');
    }
    10% {
      background-image: url('/images/fundo1.jpg');
    }
    33% {
      background-image: url('/images/fundo2.jpg');
    }
    43% {
      background-image: url('/images/fundo2.jpg');
    }
    66% {
      background-image: url('/images/fundo3.jpg');
    }
    76% {
      background-image: url('/images/fundo3.jpg');
    }
    100% {
      background-image: url('/images/fundo1.jpg');
    }
  }
}
